<?xml version="1.0"?>
<config>
    <modules>
        <Nv_Product>
            <version>0.1.0</version>
        </Nv_Product>
    </modules>  
    <admin>
        <routers>
            <product>
                <use>admin</use>
                <args>
                    <module>Nv_Product</module>
                    <frontName>product</frontName>
                </args>
            </product>
            <!-- <catalog>
                <args>
                    <modules>
                        <Nv_Product before="Mage_Catalog">Nv_Product</Nv_Product>
                    </modules>
                </args>
            </catalog> -->
            <adminhtml>
                <args>
                    <modules>
                        <Nv_Product before="Mage_Adminhtml">Nv_Product_Adminhtml</Nv_Product>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <product translate="title" module="product">
                <title>product</title>
                <sort_order>80</sort_order>               
                <children>
                    <manage translate="title" module="product">
                        <title>childs</title>
                        <sort_order>0</sort_order>
                        <action>product/adminhtml_product</action>
                    </manage>
                </children>
            </product>
        </menu> 
        <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>       
    </adminhtml> 
    <!-- <frontend>
        <routers>
            <product>
                <use>standard</use>
                <args>
                    <module>Nv_Product</module>
                    <frontName>product</frontName>
                </args>
            </product>
        </routers>   
        <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
    </frontend>   -->  
    <global>
        <events>
            <product_save_etc>
                <observers>
                    <product_observer>
                        <class>product/observer</class>
                        <method>callMe</method>
                    </product_observer>
                </observers>
            </product_save_etc>
            <catalog_product_save_before>
                <observers>
                    <product_observer>
                        <class>product/observer</class>
                        <method>callNihar</method>
                    </product_observer>
                </observers>
            </catalog_product_save_before>
        </events>
        <blocks>
            <product>
                <class>Nv_Product_Block</class>
            </product>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Nv_Product_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>       
        <models>
            <product>
                <class>Nv_Product_Model</class>
                <resourceModel>product_resource</resourceModel>
            </product>
            <catalog>
                <rewrite>
                    <product>Nv_Product_Model_Catalog_Model_Product</product>
                </rewrite>
            </catalog>
            <product_resource>
                <class>Nv_Product_Model_Resource</class>
                <entities>
                    <product>
                        <table>product</table>
                    </product>  
                </entities>
            </product_resource>
        </models>       
        <resources>
            <product_setup>
                <setup>
                    <module>Nv_Product</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </product_setup>
            <product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </product_write>
            <product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </product_read>
        </resources>    
        <helpers>
            <product>
                <class>Nv_Product_Helper</class>
            </product>
            <!-- <catalog>
                <rewrite>
                    <data>Nv_Product_Helper_Data</data>
                </rewrite>
            </catalog> -->
        </helpers>      
    </global>
</config>
