<?xml version="1.0"?>
<config>
    <modules>
        <Nv_Category>
            <version>0.1.0</version>
        </Nv_Category>
    </modules>  
    <admin>
        <routers>
            <category>
                <use>admin</use>
                <args>
                    <module>Nv_Category</module>
                    <frontName>category</frontName>
                </args>
            </category>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <category translate="title" module="category">
                <title>category</title>
                <sort_order>80</sort_order>               
                <children>
                    <manage translate="title" module="category">
                        <title>childs</title>
                        <sort_order>0</sort_order>
                        <action>category/adminhtml_category</action>
                    </manage>
                </children>
            </category>
        </menu> 
        <layout>
            <updates>
                <category>
                    <file>category.xml</file>
                </category>
            </updates>
        </layout>       
    </adminhtml> 
    <!-- <frontend>
        <routers>
            <category>
                <use>standard</use>
                <args>
                    <module>Nv_Category</module>
                    <frontName>category</frontName>
                </args>
            </category>
        </routers>   
        <layout>
            <updates>
                <category>
                    <file>category.xml</file>
                </category>
            </updates>
        </layout>
    </frontend>   -->  
    <global>    
        <blocks>
            <category>
                <class>Nv_Category_Block</class>
            </category>
        </blocks>       
        <models>
            <category>
                <class>Nv_Category_Model</class>
                <resourceModel>category_resource</resourceModel>
            </category>
            <category_resource>
                <class>Nv_Category_Model_Resource</class>
                <entities>
                    <category>
                        <table>category</table>
                    </category>  
                </entities>
            </category_resource>
        </models>       
        <resources>
            <category_setup>
                <setup>
                    <module>Nv_Category</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </category_setup>
            <category_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </category_write>
            <category_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </category_read>
        </resources>    
        <helpers>
            <category>
                <class>Nv_Category_Helper</class>
            </category>
        </helpers>      
    </global>
</config>
