<?xml version="1.0"?>
<config>
    <modules>
        <Nv_Salesman>
            <version>0.1.1</version>
        </Nv_Salesman>
    </modules>  
    <admin>
        <routers>
            <salesman>
                <use>admin</use>
                <args>
                    <module>Nv_Salesman</module>
                    <frontName>salesman</frontName>
                </args>
            </salesman>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <salesman translate="title" module="salesman">
                <title>salesman</title>
                <sort_order>80</sort_order>               
                <children>
                    <manage translate="title" module="salesman">
                        <title>childs</title>
                        <sort_order>0</sort_order>
                        <action>salesman/adminhtml_salesman</action>
                    </manage>
                </children>
            </salesman>
        </menu> 
        <layout>
            <updates>
                <salesman>
                    <file>salesman.xml</file>
                </salesman>
            </updates>
        </layout>       
    </adminhtml> 
    <!-- <frontend>
        <routers>
            <salesman>
                <use>standard</use>
                <args>
                    <module>Nv_Salesman</module>
                    <frontName>salesman</frontName>
                </args>
            </salesman>
        </routers>   
        <layout>
            <updates>
                <salesman>
                    <file>salesman.xml</file>
                </salesman>
            </updates>
        </layout>
    </frontend>   -->  
    <global>    
        <blocks>
            <salesman>
                <class>Nv_Salesman_Block</class>
            </salesman>
        </blocks>       
        <models>
            <salesman>
                <class>Nv_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>Nv_Salesman_Model_Resource</class>
                <entities>
                    <salesman>
                        <table>salesman</table>
                    </salesman>  
                </entities>
            </salesman_resource>
        </models>       
        <resources>
            <salesman_setup>
                <setup>
                    <module>Nv_Salesman</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesman_setup>
            <salesman_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesman_write>
            <salesman_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesman_read>
        </resources>    
        <helpers>
            <salesman>
                <class>Nv_Salesman_Helper</class>
            </salesman>
        </helpers>      
    </global>
</config>
